<!-- LOGIN Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <!-- Edit from here -->
        <div class="modal-content text-light bg-dark">
            <div class="modal-body">
                <form method="POST" id="login_form" action>
                    {{ login_form.hidden_tag() }}
                    <fieldset class="p-3">
                        <legend>Log in to your Account</legend>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quisquam dignissimos repellendus, obcaecati ipsam voluptas.</p>
                        <!-- Email -->
                        <div class="form-group mb-3">
                            <!-- <input type="text" id="login_email" placeholder="Email" class="form-control form-control-lg bg-dark text-light"> -->

                            {{ login_form.email(class = "form-control form-control-lg bg-dark text-light", id = "login_email", placeholder = "Email") }}
                        </div>

                        <!-- Password -->
                        <div class="form-group mb-3">
                            <!-- <input type="password" id="login_password" placeholder="Password" class="form-control form-control-lg bg-dark text-light"> -->
                            {{ login_form.password(class = "form-control form-control-lg bg-dark text-light", id = "login_password", placeholder = "Password") }}
                        </div>
                        <!-- SUBMIT -->
                        <div class="row align-items-center mb-3">
                            <div class="col from-group text-center">
                                {{login_form.submit(class = "btn btn-outline-light")}}
                            </div>
                            <div class="col from-group text-center">
                                {{ login_form.remember(class = "form-check-input") }}
                                {{ login_form.remember.label(class = "form-check-input-label") }}
                            </div>
                        </div>
                        <hr class="my-4">

                        <div class="form-group align-items-center text-center mb-3">
                            <p class="mb-3">Don't have an account?</p>
                            <button type="button" class="btn btn-outline-light" id="switch_to_register_modal">Sign Up</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>