# Ignore node_modules directory
node_modules/

# Ignore virtual environment
venv/

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore compiled code and binaries
*.pyc
*.pyo
*.pyd
__pycache__/
*.class
target/
*.jar

# Ignore dependency directories or files
package-lock.json


# Ignore personal configurations
webpack.config.js
